---
title: Mobile Testing Summit China 2016
---

<div class="main">
    <div class="container">
        <div>
            <img src="img/logo.png" width="80" height="100" class="logo">
        </div>

        <h1>Mobile Testing Summit China</h1>
        <p>7 月 16 日，2016</p>
        <p>北京•中国</p>
    </div>
</div>


<section id="about" class="wrap about">
    <header>
        <h2>关于 Mobile Testing Summit China</h2>

        <p>中国规模最大、最高水平、最有影响力的移动测试技术大会</p>
    </header>

    <p>
        Mobile Testing Summit China 是一年一届的移动测试大会，由 TesterHome 社区发起，众多测试人士共同参与的顶尖测试开发技术大会。
    </p>

    <p>
        第二届 Mobile Testing Summit China 将于 2016 年 7 月 11 日在北京举行， 8 位国内外顶尖的移动测试开发者将为国内所有关注、使用、推广 移动测试开发技术的企业和个人分享业内最新的成果和经验。

    </p>
</section>

<section id="speakers" class="wrap speakers">
    <div class="container">
        <header>
            <h2>主题演讲嘉宾</h2>

            <p>虚位以待</p>
        </header>

        <ul class="speakers-list clearfix">
            <li>
                <figure>
                    <a href="#" rel="nofollow" target="_blank">
                        <img src="img/speakers/avatar.png" alt="#">
                    </a>
                </figure>
                <h3>神秘嘉宾</h3>

                <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
            </li>

            <li>
                <figure>
                    <a href="#" rel="nofollow" target="_blank">
                        <img src="img/speakers/avatar.png" alt="#">
                    </a>
                </figure>
                <h3>神秘嘉宾</h3>

                <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
            </li>
            <li>
                <figure>
                    <a href="#" rel="nofollow" target="_blank">
                        <img src="img/speakers/avatar.png" alt="#">
                    </a>
                </figure>
                <h3>神秘嘉宾</h3>

                <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
            </li>

            <li>
                <figure>
                    <a href="#" rel="nofollow" target="_blank">
                        <img src="img/speakers/avatar.png" alt="#">
                    </a>
                </figure>
                <h3>神秘嘉宾</h3>

                <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
            </li>
            <li>
                <figure>
                    <a href="#" rel="nofollow" target="_blank">
                        <img src="img/speakers/avatar.png" alt="#">
                    </a>
                </figure>
                <h3>神秘嘉宾</h3>

                <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
            </li>

            <li>
                <figure>
                    <a href="#" rel="nofollow" target="_blank">
                        <img src="img/speakers/avatar.png" alt="#">
                    </a>
                </figure>
                <h3>神秘嘉宾</h3>

                <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
            </li>
            <li>
                <figure>
                    <a href="#" rel="nofollow" target="_blank">
                        <img src="img/speakers/avatar.png" alt="#">
                    </a>
                </figure>
                <h3>神秘嘉宾</h3>

                <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
            </li>

            <li>
                <figure>
                    <a href="#" rel="nofollow" target="_blank">
                        <img src="img/speakers/avatar.png" alt="#">
                    </a>
                </figure>
                <h3>神秘嘉宾</h3>

                <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
            </li>



        </ul>
    </div>
</section>

<section id="schedule" class="wrap schedule">
    <div class="container clearfix">
        <header>
            <h2>大会日程安排</h2>
        </header>

        <table class="schedule-table">
            <tr>
                <th colspan="3">7/16/2015
                </th>
            </tr>
            <tr>
                <td rowspan="5" class="rowspan">上午</td>
                <td class="time">8:30 - 9:30</td>
                <td>签到入场</td>
            </tr>
            <tr>
                <td class="time">9:30 - 9:45</td>
                <td>Openning</td>
            </tr>
            <tr>
                <td class="time">9:45 - 10:50</td>
                <td>神秘嘉宾</td>
            </tr>
            <tr>
                <td class="time">10:50 - 11:00</td>
                <td>休息</td>
            </tr>
            <tr>
                <td class="time">11:00 - 12:00</td>
                <td>神秘嘉宾</td>
            </tr>


            <tr>
                <td rowspan="1" class="rowspan">中午</td>
                <td class="time">12:00 - 13:00</td>
                <td>酒店午餐</td>
            </tr>
            <tr>
                <td rowspan="11" class="rowspan">下午</td>
                <td class="time">13:00 - 13:40</td>
                <td>神秘嘉宾</td>
            </tr>

            <tr>
                <td class="time">13:40 - 14:20</td>
                <td>神秘嘉宾</td>
            </tr>

            <tr>
                <td class="time">14:20 - 14:50</td>
                <td>休息</td>
            </tr>
            <tr>
                <td class="time">14:50 - 15:30</td>
                <td>神秘嘉宾</td>
            </tr>

            <tr>
                <td class="time">15:30 - 16:10</td>
                <td>神秘嘉宾</td>
            </tr>

            <tr>
                <td class="time">16:10 - 16:40</td>
                <td>休息</td>
            </tr>
            <tr>
                <td class="time">16:40 - 17:20</td>
                <td>神秘嘉宾</td>
            </tr>
            <tr>
                <td class="time">17:20 - 18:00</td>
                <td>神秘嘉宾</td>
            </tr>
        </table>
    </div>
</section>

<section id="sponsors" class="wrap sponsors">
    <header>
        <h2>赞助单位</h2>

        <p>感谢赞助商支持，是他们使本次大会成为可能</p>
    </header>

       <!-- <div class="sponsors-gold">
        <ul>
            <li>
                <h4>金牌赞助商</h4></li>
         <li>
        <a href="http://www.ucloud.cn" target="_blank" rel="nofollow">
          <img src="img/sponsors/ucloud.png">
        </a>
      </li> 

            <li>
                <a href="https://saucelabs.com" target="_blank" rel="nofollow">
                    <img src="img/sponsors/saucelabs.png">
                </a>
            </li>

            <li>
                <a href="http://www.oneapm.com/" target="_blank" rel="nofollow">
                    <img src="img/sponsors/oneapm.png">
                </a>
            </li>

            <li>
                <a href="http://fir.im/" target="_blank" rel="nofollow">
                    <img src="img/sponsors/fir.png">
                </a>
            </li>

            <li>
                <a href="http://www.imbus.cn/" target="_blank" rel="nofollow">
                    <img src="img/sponsors/taorui.png">
                </a>
            </li>


        </ul>
    </div>

    <div class="sponsors-sliver">
        <ul>
            <li>
                <h4>银牌赞助商</h4></li>

            <li>
                <a href="http://www.qiniu.com/" target="_blank" rel="nofollow">
                    <img src="img/sponsors/qiniu.png">
                </a>
            </li>

            <li>
                <a href="http://www.jd.com" target="_blank" rel="nofollow">
                    <img src="img/sponsors/jd.png">
                </a>
            </li>

            <li>
                <a href="http://www.itdreamwork.com/" target="_blank" rel="nofollow">
                    <img src="img/sponsors/itdreaming.png">
                </a>
            </li>

            <li>
                <a href="http://www.wkzuche.cn/" target="_blank" rel="nofollow">
                    <img src="img/sponsors/wukong.png">
                </a>
            </li>

        </ul>
    </div>



    <div class="sponsors-gold">
        <ul>
            <li>
                <h4>合作社区</h4></li>

            <li>
                <a href="http://appium.io/" target="_blank" rel="nofollow">
                    <img src="img/sponsors/appium.png">
                </a>
            </li>



            <li>
                <a href="http://www.testtao.com" target="_blank" rel="nofollow">
                    <img src="img/sponsors/testtao.png">
                </a>
            </li>

            <li>
                <a href="http://www.testwo.com/" target="_blank" rel="nofollow">
                    <img src="img/sponsors/testwo.png">
                </a>
            </li>
            <li>
                <a href="http://www.oschina.net/" target="_blank" rel="nofollow">
                    <img src="img/sponsors/osc.png">
                </a>
            </li>
        </ul>
    </div>

    <div class="sponsors-media">
        <ul>
            <li>
                <h4>媒体支持</h4></li>

            <li>
                <a href="http://www.infoq.com/cn/news/2015/06/mobile-testing-service?from=timeline&isappinstalled=0" target="_blank" rel="nofollow">
                    <img src="img/sponsors/infoq.png">
                </a>
            </li>

            <li>
                <a href="http://www.tup.tsinghua.edu.cn/" target="_blank" rel="nofollow">
                    <img src="img/sponsors/qinghuapress.jpg">
                </a>
            </li>

            <li>
                <a href="http://www.hzbook.com/ps/" target="_blank" rel="nofollow">
                    <img src="img/sponsors/jixie.png">
                </a>
            </li>


        </ul>
    </div>

    <!--
  <div class="sponsors-silver">
    <ul>
      <li><h4>银牌赞助商</h4></li>
    </ul>
  </div>

  <div class="sponsors-bronze">
    <ul>
      <li><h4>铜牌赞助商</h4></li>
    </ul>
  </div>

  <div class="sponsors-media">
    <ul>
      <li><h4>媒体支持</h4></li>
    </ul>
  </div>
  -->

    <p><a href="#" class="ad-placeholder">虚位以待</a></p>

    <p>
        <!--从 TesterHome 第一次活动至今，我们已经成功举办了十几届沙龙活动了。筹备每次的活动，我们都会面临非常大的压力，因为一直把推广最新的测试技术以及正确的测试理念作为我们的使命和责任，并且一直坚持非营利班会的宗旨，我们得到了很多本地公司的认可和支持，我们把这些赞助商称作“测试的梦想赞助商”，没有你们这些梦想赞助商，每一次的活动都不会成功举办，感谢曾经支持过我们的赞助商，感谢你们支持着我们的每一次梦想成真。
        <br>
        <br> 我们衷心的希望各个测试行业的技术团队、机构和公司能够参与到 Mobile Testing Summit China 中来，这对提升在整个测试行业内的知名度以及行业内的交流有着巨大的裨益。所以，购买 5 张以上（含）公司票的团队，机构和公司将自动提升为赞助商，Logo将展示在大会官网和大会会刊中（详细请参考赞助方案）。
        <br>
        <br> 如果您有兴趣赞助本次大会，

        <a href="mailto:snowangelsimon@gmail.com?subject=Sponsor to Mobile Testing Summit China 2015">snowangelsimon@gmail.com</a>，
        <br> 或者电话联系 陈晔 (+86) 186-2151-9900
        <br>-->
    </p>
</section>

<section id="person" class="wrap sponsors">
    <header>
        <h2>赞助个人</h2>
        <p>感谢测试行业人士的支持，会绵薄成拔山之力</p>
    </header>
    <!--<div>
        <ul>
            <li>
                <h4>资助者</h4></li>
            <li>赫阳</li>
            <li>林应</li>
            <li>王星慧</li>
            <li>高鹏</li>
            <li>林斌</li>
        </ul>
    </div>

    <div class="volunteer">
        <ul>
            <li>
                <h4>志愿者</h4></li>
            <li>高鹏</li>
            <li>徐士钊</li>
            <li>安心</li>
            <li>张燕</li>
            <li>李国中</li>
            <li>王海萍</li>
            <li>孙明昌</li>
            <li>张国锋</li>
            <li>梁慧妮</li>
            <li>冉爽</li>
            <li>徐珊</li>
            <li>黄杏莲</li>
            <li>贾立贤</li>
            <li>李腾</li>
        </ul>
    </div>-->
    <p>


        如果您有兴趣赞助本次大会，请扫描二维码<br>
        <img width="200px" height="200px" src="https://tfsimg.alipay.com/images/mobilecodec/T1QUtbXbpdXXXXXXXX" alt="" />
    </p>
</section>

<section id="venue" class="wrap venue">
    <div class="container">
        <div class="address">
            <h4>会议地址</h4>
            <img src="/img/venue.png" />

            <p>
                待定
                <br>
                <a href="http://map.baidu.com/detail?qt=ninf&uid=0fc20296f4e674cc3010af6d&detail=hotel" target="_blank" rel="nofollow" title="点击查看地图">
          北京
        </a>
            </p>
        </div>
    </div>
</section>