---
title: MobileTesting Submit China 2015
---

<nav class="global-nav">
  <ul>
    <li><a href="#about">关于大会</a></li>
    <li><a href="#speakers">演讲嘉宾</a></li>
    <li><a href="#sponsors">赞助单位</a></li>
    <li><a href="#venue">会议地址</a></li>
    <li><a href="#" target="_blank" class="btn">敬请期待</a></li>
  </ul>
</nav>

<section id="about" class="wrap about">
  <header>
    <h2>关于 MobileTesting Submit China</h2>

    <p>中国规模最大、最高水平、最有影响力的移动测试技术大会</p>
  </header>

  <p>
    MobileTestSummit 是为期 1 天的技术大会，由 Testerhome 社区发起，之前 已经在国内举办了3次小型的移动测试沙龙，分别和支付宝、ebay 等公司合作，是目前移动无线方面最权威的沙龙之一。

    本次大会邀请到多位海内外著名的移动无线测试专家，以及目前行业最火的 Appium 框架的主要开发者之一的 JLipps。 通过本次大会可以帮助国内移动无线的测试的整体技术水平以及跟国外的开源框架团队建立良好的关系。
  </p>

  <p>
    第一届 MobileTestSummit China 将于 2015 年 7 月 11 日在北京举行，7 个移动测试相关课题虚位以待！课题提交 <a href="mailto:testerhome@126.com?subject=topic for MobileTestSummit China 2015">testerhome@126.com</a>
  </p>
</section>

<section id="speakers" class="wrap speakers">
  <div class="container">
    <header>
      <h2>主题演讲嘉宾</h2>

      <p>国内外顶尖开发者，感受大师风范</p>
    </header>

    <ul class="speakers-list clearfix">
      <li>
        <figure>
          <a href="http://jonathanlipps.com" rel="nofollow" target="_blank">
            <img src="img/speakers/jlipps.png" alt="Jonathan Lipps">
          </a>
        </figure>
        <h3>Jonathan Lipps</h3>

        <p><a href="https://saucelabs.com" target="_blank" rel="nofollow">Saucelabs</a></p>
      </li>

      <li>
        <figure>
          <a href="https://github.com/penguinho" rel="nofollow" target="_blank">
            <img src="img/speakers/cuellar.png" alt="Dan Cuellar"/>
          </a>
        </figure>
        <h3>Dan Cuellar</h3>

        <p><a href="https://saucelabs.com" target="_blank" rel="nofollow">Saucelabs</a></p>
      </li>

      <li>
        <figure>
          <a href="http://luics.com" rel="nofollow" target="_blank">
            <img src="img/speakers/guidao.jpg" alt="#"/>
          </a>
        </figure>
        <h3>鬼道</h3>

        <p><a href="http://www.tmall.com" target="_blank" rel="nofollow">阿里巴巴天猫事业部</a></p>
      </li>

      <li>
        <figure>
          <a href="http://houlianpi.github.io" rel="nofollow" target="_blank">
            <img src="img/speakers/zhifu.jpg" alt="#"/>
          </a>
        </figure>
        <h3>芈峮</h3>

        <p><a href="http://www.wandoujia.com" target="_blank" rel="nofollow">豌豆荚</a></p>
      </li>

      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#"/>
          </a>
        </figure>
        <h3>TesterHome</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>

      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#"/>
          </a>
        </figure>
        <h3>TesterHome</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>

      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#"/>
          </a>
        </figure>
        <h3>TesterHome</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>

      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#"/>
          </a>
        </figure>
        <h3>TesterHome</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>

    </ul>
  </div>
</section>

<!--<section id="schedule" class="wrap schedule">-->
  <!--<div class="container clearfix">-->
    <!--<header>-->
      <!--<h2>大会日程安排</h2>-->
    <!--</header>-->

    <!--<table class="schedule-table">-->
      <!--<tr>-->
        <!--<th colspan="3">Day 1-->
          <!--<small>11/1/2014</small>-->
        <!--</th>-->
      <!--</tr>-->
      <!-- 上午 -->
      <!--<tr>-->
        <!--<td rowspan="7" class="rowspan">上午</td>-->
        <!--<td class="time">8:00 - 9:00</td>-->
        <!--<td>签到</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">9:00 - 9:15</td>-->
        <!--<td>Openning</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">9:15 - 10:15</td>-->
        <!--<td>Zach Holman</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">10:15 - 11:00</td>-->
        <!--<td>Daniel Bovensiepen</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">11:00 - 11:20</td>-->
        <!--<td>休息</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">11:20 - 12:00</td>-->
        <!--<td>肖雪洁</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">12:00 - 13:30</td>-->
        <!--<td>午饭</td>-->
      <!--</tr>-->
      <!-- 下午 -->
      <!--<tr>-->
        <!--<td rowspan="7" class="rowspan">下午</td>-->
        <!--<td class="time">13:30 - 14:15</td>-->
        <!--<td>張文鈿</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">14:15 - 15:00</td>-->
        <!--<td>吕戈</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">15:00 - 15:25</td>-->
        <!--<td>休息</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">15:25 - 16:05</td>-->
        <!--<td>Jack Chen</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">16:05 - 16:50</td>-->
        <!--<td>Kevin Dewalt</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">17:00 - 18:00</td>-->
        <!--<td>Obie Fernandez</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
<!--</section>-->

<section id="sponsors" class="wrap sponsors">
  <header>
    <h2>赞助单位</h2>

    <p>感谢赞助商支持，是他们使本次大会成为可能</p>
  </header>

  <div class="sponsors-gold">
    <ul>
      <li><h4>赞助商</h4></li>
      <li>
        <a href="http://www.ucloud.cn" target="_blank" rel="nofollow">
          <img src="img/sponsors/ucloud.png">
        </a>
      </li>

      <li>
        <a href="http://gitcafe.com" target="_blank" rel="nofollow">
          <img src="img/sponsors/gitcafe.png">
        </a>
      </li>

      <li>
        <a href="http://mos.meituan.com" target="_blank" rel="nofollow">
          <img src="img/sponsors/meituanyun.png">
        </a>
      </li>

    </ul>
  </div>
  <!--
  <div class="sponsors-gold">
    <ul>
      <li><h4>金牌赞助商</h4></li>
    </ul>
  </div>

  <div class="sponsors-silver">
    <ul>
      <li><h4>银牌赞助商</h4></li>
    </ul>
  </div>

  <div class="sponsors-bronze">
    <ul>
      <li><h4>铜牌赞助商</h4></li>
    </ul>
  </div>

  <div class="sponsors-media">
    <ul>
      <li><h4>媒体支持</h4></li>
    </ul>
  </div>
  -->

  <p><a href="mailto:snowangelsimon@gmail.com?subject=Sponsor to MobileTestSummit China 2015" class="ad-placeholder">虚位以待</a></p>

  <p>
    从 TesterHome 第一次活动至今，我们已经成功举办了十几届沙龙活动了。筹备每次的活动，我们都会面临非常大的压力，因为一直把推广最新的测试技术以及正确的测试理念作为我们的使命和责任，并且一直坚持非营利班会的宗旨，我们得到了很多本地公司的认可和支持，我们把这些赞助商称作“测试的梦想赞助商”，没有你们这些梦想赞助商，每一次的活动都不会成功举办，感谢曾经支持过我们的赞助商，感谢你们支持着我们的每一次梦想成真。
    <br><br>

    我们衷心的希望各个测试行业的技术团队、机构和公司能够参与到 Mobile Test Summit China 中来，这对提升在整个测试行业内的知名度以及行业内的交流有着巨大的裨益。所以，购买4张以上（含）公司票的团队，机构和公司将自动提升为赞助商，Logo将展示在大会官网和大会会刊中（详细请参考赞助方案）。
    <br><br>

    如果您有兴趣赞助本次大会，

    <a href="mailto:snowangelsimon@gmail.com?subject=Sponsor to MobileTestSummit China 2015">snowangelsimon@gmail.com</a>，
    <br>
    或者电话联系 陈晔
    (+86) 186-2151-9900
    <br>
    <a href="sponsorship/MobileTestSummit_sponsorship.pdf">
      赞助方案
    </a>
  </p>
</section>

<section id="venue" class="wrap venue">
  <div class="container">
    <div class="address">
      <h4>会议地址待定</h4>
      <img src="/img/venue.jpg"/>

      <!-- <p>
        国家会议中心
        <br>
        <a href="http://www.google.cn/maps/place/%E5%8C%97%E4%BA%AC%E5%9B%BD%E9%99%85%E4%BC%9A%E8%AE%AE%E4%B8%AD%E5%BF%83/@39.9906037,116.4119149,15z/data=!4m2!3m1!1s0x35f054c61025fe4d:0x8b0eb291e400ad5e?hl=zh-CN" target="_blank" rel="nofollow" title="点击查看地图">
          北京市朝阳区天辰东路7号
        </a>
      </p> -->
    </div>
  </div>
</section>
