---
title: Mobile Testing Summit China 2016 
---

<div class="main">
  <div class="container">
    <div>
      <img src="img/logo.png" width="80" height="100" class="logo">
    </div>

    <h1>Mobile Testing Summit China</h1>
    <p>7 月 16 日，2016</p>
    <p>北京•中国</p>
  </div>
</div>


<section id="about" class="wrap about">



  <div class="container">

    <header>
      <h2>关于 Mobile Testing Summit China</h2>

      <p>中国规模最大、最高水平、最有影响力的移动测试技术大会</p>
    </header>

    <div class="row">
      随着互联网逐渐趋向于移动端和大数据，越来越多的人们开始投身于移动测试行业，关注软件质量。 由TesterHome社区主办的一年一度，规模最大的中国移动互联网测试大会，是一场属于热衷于测试技术并乐于分享的测试从业者的狂欢盛宴。 届时，国内外顶尖的测试人员将齐聚一堂，共同探讨技术以及如何提升企业水平。
    </div>
    <hr class="half-rule">
    <div class="row">
      <div class="col-sm-4">
        <h3><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> 定位</h3>
        <p>专注于互联网测试技术的分享会，关注移动互联网质量的有志之士的集会。</p>
      </div>
      <div class="col-sm-4">
        <h3><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> 主旨</h3>
        <p>秉承着务实、能落地、有深度、高质量的原则与广大测试工程师做最新最实用的分享与交流，以推广新鲜实用的测试技术和正确的测试理念为己任。</p>
      </div>
      <div class="col-sm-4">
        <h3><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 亮点</h3>
        <p>大会主题涉及移动端的自动化、持续集成、性能、安全等一系列测试领域，以及当下移动端够新够热够实用的测试技术交流分享，是一次技术进阶。</p>
      </div>
    </div>
  </div>

</section>

<section id="speakers" class="wrap speakers">
  <div class="container">
    <header>
      <h2>主题演讲嘉宾</h2>

      <p>国内顶尖测试开发者，感受大师风范</p>
    </header>

    <ul class="speakers-list clearfix">
      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#">
          </a>
        </figure>
        <h3>神秘嘉宾</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>

      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#">
          </a>
        </figure>
        <h3>神秘嘉宾</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>
      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#">
          </a>
        </figure>
        <h3>神秘嘉宾</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>

      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#">
          </a>
        </figure>
        <h3>神秘嘉宾</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>
      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#">
          </a>
        </figure>
        <h3>神秘嘉宾</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>

      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#">
          </a>
        </figure>
        <h3>神秘嘉宾</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>
      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#">
          </a>
        </figure>
        <h3>神秘嘉宾</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>

      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#">
          </a>
        </figure>
        <h3>神秘嘉宾</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>
    </ul>
  </div>
</section>

<section id="schedule" class="wrap schedule">
  <div class="container clearfix">
    <header>
      <h2>大会日程安排</h2>
    </header>

    <table class="schedule-table">
      <tr>
        <th colspan="3">7/16/2016
        </th>
      </tr>
      <tr>
        <td rowspan="5" class="rowspan">上午</td>
        <td class="time">8:30 - 9:30</td>
        <td>签到入场</td>
      </tr>
      <tr>
        <td class="time">9:30 - 9:45</td>
        <td>Openning</td>
      </tr>
      <tr>
        <td class="time">9:45 - 10:50</td>
        <td>神秘嘉宾</td>
      </tr>
      <tr>
        <td class="time">10:50 - 11:00</td>
        <td>休息</td>
      </tr>
      <tr>
        <td class="time">11:00 - 12:00</td>
        <td>神秘嘉宾</td>
      </tr>


      <tr>
        <td rowspan="1" class="rowspan">中午</td>
        <td class="time">12:00 - 13:00</td>
        <td>酒店午餐</td>
      </tr>
      <tr>
        <td rowspan="11" class="rowspan">下午</td>
        <td class="time">13:00 - 13:40</td>
        <td>神秘嘉宾</td>
      </tr>

      <tr>
        <td class="time">13:40 - 14:20</td>
        <td>神秘嘉宾</td>
      </tr>

      <tr>
        <td class="time">14:20 - 14:50</td>
        <td>休息</td>
      </tr>
      <tr>
        <td class="time">14:50 - 15:30</td>
        <td>神秘嘉宾</td>
      </tr>

      <tr>
        <td class="time">15:30 - 16:10</td>
        <td>神秘嘉宾</td>
      </tr>

      <tr>
        <td class="time">16:10 - 16:40</td>
        <td>休息</td>
      </tr>
      <tr>
        <td class="time">16:40 - 17:20</td>
        <td>神秘嘉宾</td>
      </tr>
      <tr>
        <td class="time">17:20 - 18:00</td>
        <td>神秘嘉宾</td>
      </tr>
    </table>
  </div>
</section>

<section id="sponsors" class="wrap sponsors">
  <header>
    <h2>赞助单位</h2>

    <p>感谢赞助商支持，是他们使本次大会成为可能</p>
  </header>

  <div class="sponsors-special">
    <ul>
      <li>
        <h4>特别赞助商</h4>
      </li>

      <li>
        <a href="http://testin.cn/" target="_blank" rel="nofollow">
          <img src="img/sponsors/logo-testin.png">
        </a>
      </li>



    </ul>
  </div>

  <div class="sponsors-gold">
    <ul>
      <li>
        <h4>金牌赞助商</h4>
      </li>

      <li>
        <a href="http://www.dilatoit.com/cn/index.html" target="_blank" rel="nofollow">
          <img src="img/sponsors/diyuan.png">
        </a>
      </li>

      <li>
        <a href="http://www.baidu.com/" target="_blank" rel="nofollow">
          <img src="img/sponsors/baidu.png">
        </a>
      </li>

      <li>
        <a href="http://www.oneapm.com/" target="_blank" rel="nofollow">
          <img src="img/sponsors/oneapm.png">
        </a>
      </li>
      <li>
        <a href="https://www.ucloud.cn/" target="_blank" rel="nofollow">
          <img src="img/sponsors/logo-UCloud.png">
        </a>
      </li>

    </ul>
  </div>

  <div class="sponsors-silver">
    <ul>
      <li>
        <h4>银牌赞助商</h4>
      </li>
      <li>
        <a href="http://fir.im/" target="_blank" rel="nofollow">
          <img src="img/sponsors/fir.png">
        </a>
      </li>

      <li>
        <a href="http://www.bagevent.com/" target="_blank" rel="nofollow">
          <img src="img/sponsors/bagevent.png">
        </a>
      </li>


      <li>
        <a href="http://www.autohome.com.cn/beijing/" target="_blank" rel="nofollow">
          <img src="img/sponsors/autohome.png">
        </a>
      </li>


      <li>
        <a href="https://100offer.com/" target="_blank" rel="nofollow">
          <img src="img/sponsors/100offer.png">
        </a>
      </li>



    </ul>
  </div>

  <div class="sponsors-gold">
    <ul>
      <li>
        <h4>合作社区</h4>
      </li>
      <li>
        <a href="http://www.testtao.com/portal.php" target="_blank" rel="nofollow">
          <img src="img/sponsors/testtao.png">
        </a>
      </li>

      <li>
        <a href="http://www.testwo.com/" target="_blank" rel="nofollow">
          <img src="img/sponsors/testwo.png">
        </a>
      </li>
    </ul>
  </div>

  <div class="sponsors-media">
    <ul>
      <li>
        <h4>媒体支持</h4>
      </li>
      <li>
        <a href="http://www.insta360.com/" target="_blank" rel="nofollow">
          <img style="max-width: 240px;
    max-height: 120px;" src="img/sponsors/logo-insta.png">
        </a>
      </li>

      <li>
        <a href="http://www.imooc.com/" target="_blank" rel="nofollow">
          <img src="img/sponsors/mooc.png">
        </a>
      </li>

      <li>
        <a href="http://www.infoq.com/cn/news/2015/06/mobile-testing-service?from=timeline&amp;isappinstalled=0" target="_blank"
          rel="nofollow">
          <img src="img/sponsors/infoq.png">
        </a>
      </li>

      <li>
        <a href="http://www.tup.tsinghua.edu.cn/" target="_blank" rel="nofollow">
          <img src="img/sponsors/qinghuapress.jpg">
        </a>
      </li>
      <li>
        <a href="http://toutiao.io/" target="_blank" rel="nofollow">
          <img style="max-width: 320px;
    max-height: 160px;" src="img/sponsors/toutiao.png">
        </a>
      </li>


      <li>
        <a href="http://www.hzbook.com/ps/" target="_blank" rel="nofollow">
          <img style="max-width: 320px;
    max-height: 160px;" src="img/sponsors/jixie.png">
        </a>
      </li>

      <li>
        <a href="http://www.expoworld.cn/" target="_blank" rel="nofollow">
          <img style="max-width: 320px;
    max-height: 160px;" src="img/sponsors/logo_boshi.png">
        </a>
      </li>

    </ul>
  </div>

</section>

<section id="person" class="wrap sponsors">
  <header>
    <h2>赞助个人</h2>
    <p>感谢测试行业人士的支持，会绵薄成拔山之力</p>
  </header>
  <div>
    <ul>
      <li>
        <h4>资助者</h4>
      </li>
      <li>永斌</li>
      <li>路易</li>
      <li>陈子昂</li>
      <li>平静</li>
    </ul>
  </div>
  <!--
    <div class="volunteer">
        <ul>
            <li>
                <h4>志愿者</h4></li>
            <li>高鹏</li>
            <li>徐士钊</li>
            <li>安心</li>
            <li>张燕</li>
            <li>李国中</li>
            <li>王海萍</li>
            <li>孙明昌</li>
            <li>张国锋</li>
            <li>梁慧妮</li>
            <li>冉爽</li>
            <li>徐珊</li>
            <li>黄杏莲</li>
            <li>贾立贤</li>
            <li>李腾</li>
        </ul>
    </div>-->
  <p>


    如果您有兴趣赞助本次大会，请扫描二维码<br>
    <img width="200px" height="200px" src="https://tfsimg.alipay.com/images/mobilecodec/T1QUtbXbpdXXXXXXXX" alt="" />
  </p>
</section>

<section id="venue" class="wrap venue">
  <div class="container">
    <div class="address">
      <h4>会议地址</h4>
      <img src="/img/venue.png" />

      <p>
        北京丽亭华苑酒店
        <br>
        <a href="http://map.baidu.com/detail?qt=ninf&uid=0fc20296f4e674cc3010af6d&detail=hotel" target="_blank" rel="nofollow" title="点击查看地图">
          北京市海淀区知春路25号<br>


        </a> 电话：010-57226892
        <br>
        <span>地铁10、13号线知春路站10号线F2出口，直行200米</span><br>
      </p>
    </div>
  </div>
</section>