---
title: MobileTesting Submit China 2015
---

<nav class="global-nav">
  <ul>
    <li><a href="#about">About</a></li>
    <li><a href="#speakers">Speakers</a></li>
    <li><a href="#sponsors">Sponsors</a></li>
    <li><a href="#venue">Venue</a></li>
    <li><a href="#" target="_blank" class="btn">Coming soon</a></li>
  </ul>
</nav>

<section id="about" class="wrap about">
  <header>
    <h2>About Mobile Testing Submit China</h2>

    <p>The mobile testing conference held in China as the largest scale, most influential in its highest academic standard
    </p>
  </header>

  <p>
    It's launched by Testhome, co-operating wth Alipay and eBay respectively, which has held three times of small-scaled mobile testing salon, one of the most authotitative domestic salons at present in the aspect of mobile wireless.
  </p>
    <br>
  <p>
    In this conference, we have invited famous mobile testing experts from home and aboard, including JLipps, one of the major developer of the most popular mobile testing framework: Appium.Through this conference, the whole level of mobile testing in China will be improved significantly and relationships with foreign open-source frameworks team will be closer.
  </p>
    <br>
  <p>
    The first Mobile Test Summit China will be held in Beijing on July 11th, 2015. There are still 6 related topics waiting for their speakers for now. If you have interesting topic about mobile testing, just send it to <a href="mailto:testerhome@126.com?subject=topic for MobileTestSummit China 2015">testerhome@126.com</a>.
  </p>
</section>

<section id="speakers" class="wrap speakers">
  <div class="container">
    <header>
      <h2>SPEAKERS</h2>

      <p>Let's together appreciate master demeanor of top developers from all over the world.
</p>
    </header>

    <ul class="speakers-list clearfix">
      <li>
        <figure>
          <a href="http://jonathanlipps.com" rel="nofollow" target="_blank">
            <img src="img/speakers/jlipps.png" alt="Jonathan Lipps">
          </a>
        </figure>
        <h3>Jonathan Lipps</h3>

        <p><a href="https://saucelabs.com" target="_blank" rel="nofollow">Saucelabs</a></p>
      </li>

      <li>
        <figure>
          <a href="https://github.com/penguinho" rel="nofollow" target="_blank">
            <img src="img/speakers/cuellar.png" alt="Dan Cuellar"/>
          </a>
        </figure>
        <h3>Dan Cuellar</h3>

        <p><a href="https://saucelabs.com" target="_blank" rel="nofollow">Saucelabs</a></p>
      </li>

      <li>
        <figure>
          <a href="http://luics.com" rel="nofollow" target="_blank">
            <img src="img/speakers/guidao.jpg" alt="#"/>
          </a>
        </figure>
        <h3>鬼道</h3>

        <p><a href="http://www.tmall.com" target="_blank" rel="nofollow">阿里巴巴天猫事业部</a></p>
      </li>

      <li>
        <figure>
          <a href="http://houlianpi.github.io" rel="nofollow" target="_blank">
            <img src="img/speakers/zhifu.jpg" alt="#"/>
          </a>
        </figure>
        <h3>芈峮</h3>

        <p><a href="http://www.wandoujia.com" target="_blank" rel="nofollow">豌豆荚</a></p>
      </li>


      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#"/>
          </a>
        </figure>
        <h3>TesterHome</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>

      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#"/>
          </a>
        </figure>
        <h3>TesterHome</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>

      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#"/>
          </a>
        </figure>
        <h3>TesterHome</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>

      <li>
        <figure>
          <a href="#" rel="nofollow" target="_blank">
            <img src="img/speakers/avatar.png" alt="#"/>
          </a>
        </figure>
        <h3>TesterHome</h3>

        <p><a href="#" target="_blank" rel="nofollow">TesterHome</a></p>
      </li>

    </ul>
  </div>
</section>

<!--<section id="schedule" class="wrap schedule">-->
  <!--<div class="container clearfix">-->
    <!--<header>-->
      <!--<h2>大会日程安排</h2>-->
    <!--</header>-->

    <!--<table class="schedule-table">-->
      <!--<tr>-->
        <!--<th colspan="3">Day 1-->
          <!--<small>11/1/2014</small>-->
        <!--</th>-->
      <!--</tr>-->
      <!-- 上午 -->
      <!--<tr>-->
        <!--<td rowspan="7" class="rowspan">上午</td>-->
        <!--<td class="time">8:00 - 9:00</td>-->
        <!--<td>签到</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">9:00 - 9:15</td>-->
        <!--<td>Openning</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">9:15 - 10:15</td>-->
        <!--<td>Zach Holman</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">10:15 - 11:00</td>-->
        <!--<td>Daniel Bovensiepen</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">11:00 - 11:20</td>-->
        <!--<td>休息</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">11:20 - 12:00</td>-->
        <!--<td>肖雪洁</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">12:00 - 13:30</td>-->
        <!--<td>午饭</td>-->
      <!--</tr>-->
      <!-- 下午 -->
      <!--<tr>-->
        <!--<td rowspan="7" class="rowspan">下午</td>-->
        <!--<td class="time">13:30 - 14:15</td>-->
        <!--<td>張文鈿</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">14:15 - 15:00</td>-->
        <!--<td>吕戈</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">15:00 - 15:25</td>-->
        <!--<td>休息</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">15:25 - 16:05</td>-->
        <!--<td>Jack Chen</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">16:05 - 16:50</td>-->
        <!--<td>Kevin Dewalt</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">17:00 - 18:00</td>-->
        <!--<td>Obie Fernandez</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
<!--</section>-->

<section id="sponsors" class="wrap sponsors">
  <header>
    <h2>SPONSORS</h2>

    <p>Thanks a lot the sponsors, who make true this conference.</p>
  </header>

  <div class="sponsors-gold">
    <ul>
      <li><h4>Sponsors</h4></li>
      <li>
        <a href="http://www.ucloud.cn" target="_blank" rel="nofollow">
          <img src="img/sponsors/ucloud.png">
        </a>
      </li>

      <li>
        <a href="http://gitcafe.com" target="_blank" rel="nofollow">
          <img src="img/sponsors/gitcafe.png">
        </a>
      </li>
    </ul>
  </div>

  <!--
  <div class="sponsors-gold">
    <ul>
      <li><h4>金牌赞助商</h4></li>
    </ul>
  </div>

  <div class="sponsors-silver">
    <ul>
      <li><h4>银牌赞助商</h4></li>
    </ul>
  </div>

  <div class="sponsors-bronze">
    <ul>
      <li><h4>铜牌赞助商</h4></li>
    </ul>
  </div>

  <div class="sponsors-media">
    <ul>
      <li><h4>媒体支持</h4></li>
    </ul>
  </div>
  -->

  <p><a href="mailto:snowangelsimon@gmail.com?subject=Sponsor to MobileTestSummit China 2015" class="ad-placeholder">Waiting for you</a></p>

  <p>
    Testerhome has held more than 10 salons till now. We were under heavy pressure when orginizing each of them since we always treat promoting the latest testing techniques and proper testing ideas as our mission and responsibility, and insist on holding salons with nonprofit.

    We have received great approval and supports from a lot of local companies, whom we call as “Sponsors for test dreams".

    We would havn't been able to hold every activity to make true our testing dreams without them. Here sincere thanks again.


    <br><br>
    Also, we hope every technology team, orginazition and compiny in testing industry can join in Mobile Testing Summit China with us, which is extremely for your popularity ascension and communications within this field.
    So, every team, orginazition or company that has bought 4 or more company tickits would upgrade automatically as our sponsor. Your logo would be shown on official website and conference proceedings (Please refer to sponsorship for details).
    <br><br>

    If you would like to sponsor this conference, please send email to <a href="mailto:snowangelsimon@gmail.com?subject=Sponsor to MobileTestSummit China 2015">snowangelsimon@gmail.com</a>

    ，
    <br>
    or call (+86) 186-2151-9900 for Ye Chen.
    <br>
    <a href="sponsorship/MobileTestSummit_sponsorship.pdf">
      Sponsorship
    </a>
  </p>
</section>

<section id="venue" class="wrap venue">
  <div class="container">
    <div class="address">
      <h4>Venure is coming soon</h4>
      <img src="/img/venue.jpg"/>

      <!-- <p>
        国家会议中心
        <br>
        <a href="http://www.google.cn/maps/place/%E5%8C%97%E4%BA%AC%E5%9B%BD%E9%99%85%E4%BC%9A%E8%AE%AE%E4%B8%AD%E5%BF%83/@39.9906037,116.4119149,15z/data=!4m2!3m1!1s0x35f054c61025fe4d:0x8b0eb291e400ad5e?hl=zh-CN" target="_blank" rel="nofollow" title="点击查看地图">
          北京市朝阳区天辰东路7号
        </a>
      </p> -->
    </div>
  </div>
</section>
